[submodule "vendor/pico-sdk"]
	path = vendor/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "vendor/pimoroni-pico"]
	path = vendor/pimoroni-pico
	url = https://github.com/pimoroni/pimoroni-pico.git
